<%= render partial: 'layouts/merchants_header', locals: { merch_name: @merchant.name, merch_id: @merchant.id }%>

<h3 style="background-color:#E0E0E0; border-top: 2px solid black;"><center>Add a New Bulk Discount</center></h3>

<%= render partial: 'form', locals: {
  path: merchant_bulk_discounts_path(@merchant),
  method: :post,
  fill_in_percentage: nil,
  fill_in_quantity: nil,
  button_text: 'Create New Discount'
}%>