<!DOCTYPE html>
<html>
<style>

    .topnav-right {
    float: right;
  }
</style>
<header>
    
</header>

<nav class="topnav-right">
  <p> <%= link_to "My Items", "/merchants/#{@merchant.id}/items" %> </p>
  <p> <%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %> </p>
</nav>
<body>
  <%= @merchant.name %>
  <div id="favorite_customers">
   <h3> Favorite Customers </h3>
   <% @top_five.each do |five| %>
    <p><%= "#{five.first_name} #{five.last_name} - #{five.transaction_count} Purchases" %></p>
    
   <% end %>
  </div>
</body>
</html>