<style>
    .topnav-right {
    float: right;
  }
</style>

<nav class="topnav-right">
  <p><%= link_to "Dashboard", admin_index_path %>&nbsp;&nbsp;  
  <%= link_to "Merchants", admin_merchants_path %>&nbsp;&nbsp;
  <%= link_to "Invoices", admin_invoices_path %>
</nav>

<h2>Admin Dashboard</h2><br><br>
